#board {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#title {
  color: #167bff;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f0f0f0;
}

#preview {
  color: #f0f0f0;
}

#footer {
  display: flex;
  justify-content: center;
}

#footer:visited {
  color: #f0f0f0;
}

#footer:hover {
  color: #167bff;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

a:visited {
  color: #167bff;
}

a:hover {
  color: #f0f0f0;
}
